# Ignore the virtual environment folder
/Hindi-english-chat/

# Python cache files
__pycache__/
*.pyc
*.pyo

# VS Code settings folder (optional)
.vscode/

# macOS specific files
.DS_Store

secrets.yaml